.contenedor-carrusel {
    width: 100%;
    max-width: 1300px;
    height: 450px;
    margin: 20px auto;
    overflow: hidden; 
    position: relative;
    background-color: #000; 
    border-radius: 8px;
}

.diapositiva {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%); 
    animation: sliderDefinitivo 25s linear infinite;
}

.diapositiva img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.diapositiva:nth-child(1) { animation-delay: -1s; } 

.diapositiva:nth-child(2) { animation-delay: 4s; }
.diapositiva:nth-child(3) { animation-delay: 9s; }
.diapositiva:nth-child(4) { animation-delay: 14s; }
.diapositiva:nth-child(5) { animation-delay: 19s; }


@keyframes sliderDefinitivo {
    0% { transform: translateX(100%); }    
    4% { transform: translateX(0%); }      
    20% { transform: translateX(0%); }     
    24% { transform: translateX(-100%); }  
    100% { transform: translateX(-100%); } 
}

.texto-diapositiva {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    border-left: 4px solid #FF5722;
    z-index: 10;
}

@media screen and (max-width: 600px) {
    .contenedor-carrusel { height: 250px; }
}